@import "./../../../common/mixins.scss";

.solution_card {
  padding: 30px 60px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(575) {
    padding: 50px 30px;
  }
  &__info {
    max-width: 720px;
  }
  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 186%;

    color: var(--title-text-color);
    @include media(1139) {
      font-size: 2rem;
    }
    @include media(1023) {
      font-size: 1.5rem;
      line-height: 120%;
    }
    @include media(575) {
      font-size: 1.2rem;
      margin-bottom: 0.5em;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 186%;
    color: #5b574b;
    @include media(1139) {
      font-size: 1rem;
    }
    @include media(1023) {
      font-size: 0.9rem;
      line-height: 140%;
    }
    @include media(575) {
      line-height: 130%;
      font-size: 0.8rem;
    }
  }
}
