@import "./../../../common/mixins.scss";

.title {
  margin-top: 0;
  font-family: var(--font-gloock);
  font-weight: 400;
  font-size: 4rem;
  line-height: 145.43%;

  color: var(--title-text-color);
  @include media(1679) {
    font-size: 3.5rem;
  }
  @include media(1139) {
    font-size: 3rem;
  }
  @include media(1023) {
    font-size: 2.5rem;
  }
}
