.footer {
  padding-top: 200px;
  margin-top: auto; /* Отодвигает футер вниз */
  height: 200px;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
