:root {
  --primary-gradient: linear-gradient(89.78deg, #00d9d9 37.02%, #0094ff 97.73%);
  --yellow-gradient: linear-gradient(90.55deg, #d96800 0.49%, #ffb800 99.54%);

  /* global colors */
  --body-color: #fffcf2;
  --body-text-color: #000000;

  --primary-text-color: #bf9871;

  --primary-border-color: #e3e0d7;
  --hover-primary-border-color: #e5b8a2;

  --background-primary-color: #fffcf1;
  --hover-background-primary-color: #ffeddd;

  /* My theme */
  --title-text-color: #553331;
  --accent-text-color: #c96f14;
  --accent-background-color: #ff8447;

  --header-size: 125px;
}
